.fluro-content-render[data-v-4685aa6b]{flex:1}
.image-holder[data-v-1d1542ea]{background:#111;max-height:50vh;overflow:hidden;display:flex}.color-swatch[data-v-1d1542ea]{width:36px;height:36px;border-radius:3px;margin:0 1px 1px 0;display:inline-block}
