.media-preview{background:#eee;display:block;min-height:350px;margin-bottom:15px;border:1px solid rgba(0,0,0,.1);border-radius:5px;overflow:hidden}.media-preview .media-preview-wrap{max-width:750px;margin:auto}
.color-swatch[data-v-2419776c]{width:36px;height:36px;border-radius:3px;margin:0 1px 1px 0;display:inline-block}
