.left-slot{text-align:center;width:50px;margin-right:10px}.left-slot .left-icon{width:30px;height:30px;background-color:rgba(0,0,0,.1);text-align:center;line-height:30px;display:inline-block}.header-margin{margin-bottom:10px}.button-margin{margin-bottom:20px}.full-width{width:100%}.fade-enter-active,.fade-leave-active{transition:all .3s}.fade-enter,.fade-leave-to{opacity:0}
.capitalize-text{text-transform:capitalize}
.full-width{width:100%}
.full-width{width:100%}
.capitalize-text{text-transform:capitalize}.full-width{width:100%}
.no-border-no-background .toggle-item{border:none !important;background:none !important;font-size:14px;padding:0px}
