/**/

$primary: #2ad4b9;//#0bd6be;
$success: #4cc650; //#4cc673;//
$warning: #f0974e; //darken(#fbf2d2, 50%);//#f0974e;
$danger: #d93e63;
$secondary: #0bd6cd; //#0bd6a3;



//////////////////////////////////////////

.border-top {
    border-top: 1px solid rgba(#000, 0.05);
}

.border-right {
    border-right: 1px solid rgba(#000, 0.05);
}

.border-bottom {
    border-bottom: 1px solid rgba(#000, 0.05);
}

.border-left {
    border-left: 1px solid rgba(#000, 0.05);
}

//////////////////////////////////////////
/**/